@import './../../../../../../sass/loc-variables';

.mainWidgetContainer {
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  width: 40vw;
  height: 30vh;
  box-shadow: 5px 5px 4px map_get($vertican-colors, 'gray-3') !important;
  overflow-y: auto !important;

  .text-header {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: medium;
  }

  .table-responsive {
    width: 100%;

    th {
      position: sticky;
      width: 50px;
      top: -20px;
      height: 50px !important;
      border-bottom: 1px solid map_get($vertican-colors, 'black') !important;
    }

    td {
      width: 50px;
      height: 30px !important;
      text-align: left;
    }

    .content {
      word-wrap: normal !important;
      max-width: 10vw;
    }
  }
}
