<form [formGroup]="messageForm" (ngSubmit)="formSubmit()">
  <div class="form-group row" *ngIf="textareaAvailable">
    <div class="col-12">
      <textarea
        class="form-control"
        rows="5"
        name="newMessageField"
        id="newMessageField"
        value=""
        placeholder="Type your message here"
        autocomplete="off"
        [formControlName]="'newMessage'"
        [ngClass]="{ 'is-invalid': submitted && message.errors }"
        (change)="contentChange($event)"
      >
      </textarea>
      <div *ngIf="message.dirty && message.errors?.required" class="invalid-feedback">The above field is required to send a message</div>
      <div *ngIf="message.dirty && message.errors?.minlength" class="invalid-feedback">
        The above field must be at least 4 characters long to send a message
      </div>
    </div>
  </div>
  <div class="from-group row" *ngIf="dropdownAvailable">
    <div class="col-12 mb-4">
      <select class="custom-select" [formControlName]="'newMessageTemplate'" (change)="contentChange($event)" id="newMessageTemplate">
        <option value="null" selected>Please select one</option>
        <option *ngFor="let template of messageTemplateItems" [value]="template.TemplateId">{{ template.TemplateName }}</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-12">
      <button class="btn btn-primary" type="submit" *ngIf="!optOut" [disabled]="!isSaveable ? 'disabled' : null">Send your message</button>
      <span *ngIf="optOut"> The debtor opted out, there is NO way to send messages from this form! </span>
    </div>
  </div>
</form>
